.map-shell--expanded {
  position: fixed;
  top: 90px;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  z-index: 1500;
}
.leaflet-top { top: 20px; z-index: 2000 !important; }
.leaflet-control-zoom { margin-top: 10px !important; z-index: 2001 !important; }
.map-toolbar { z-index: 3000; }
